---
title: Title
jsFiles: ["./main.js"]
cssFiles: ["./styles.css"]
useDefaultHeader: true
hideBanner: false
breadcrumb: []
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}
    {% include "../../_shared/css/guide.css" %}
    {% include "../../_shared/css/shared.css" %}
    {% endset %}

    {% if devEnvironment.environment === 'dev' %}
      <link rel="stylesheet" href="/_shared/css/guide.css">
      <link rel="stylesheet" href="/_shared/css/shared.css">
    {% else %}
      <style>
        {{css | cssmin | safe}}
      </style>
    {% endif %}

    {% for file in cssFiles %}
      <link rel="stylesheet" href="{{file | sasstocss}}">
    {% endfor %}

    <script>
      const wbSlidesData = [
        {
          webinar_id: "1",
          title: "Problem solving and procedures",
          sub_title: "how people handle unexpected situations",
          presenter: "Guy Andre boy",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }, {
          webinar_id: "2",
          title: "Big long slide title Big long slide title Big long slide title Big long slide title",
          sub_title: "Big long slide subtitle Big long slide subtitle Big long slide subtitle Big long slide subtitle",
          presenter: "Big long presenter name Big long presenter name Big long presenter name",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }, {
          webinar_id: "3",
          title: "Slide 3",
          sub_title: "xxxx",
          presenter: "xxxx",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }, {
          webinar_id: "4",
          title: "Slide 4",
          sub_title: "xxxx",
          presenter: "xxxx",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }, {
          webinar_id: "5",
          title: "Slide 5",
          sub_title: "xxxx",
          presenter: "xxxx",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }, {
          webinar_id: "6",
          title: "Slide 6",
          sub_title: "xxxx",
          presenter: "xxxx",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }, {
          webinar_id: "7",
          title: "Slide 7",
          sub_title: "xxxx",
          presenter: "xxxx",
          date: "28 Nov 2022",
          time: "15:00",
          qr_url: "qrurl"
        }
      ];
    </script>
  </head>
  <body>
    {% if hideBanner === false %}
      {% lmsBanner %}
    {% endif %}

    {% if useDefaultHeader %}
      <header class="ians-column-wide-1 mt-1">
        {% if breadcrumb != '' %}
          <p class="ians-breadcrumb">
            {% for crumb in breadcrumb %}
              {{ crumb }} / 
            {% endfor %}
          </p>
        {% endif %}
        {% if breadcrumb != '' %}
          <h1>{{ title }}</h1>
        {% else %}
          <h1 class="mt-3">{{ title }}</h1>
        {% endif %}
      </header>
      <main>
        {{ content | safe }}
      </main>
    {% else %}
      {{ content | safe }}
    {% endif %}

    {% for file in jsFiles %}
      <script type="module" defer src="{{file}}"></script>
    {% endfor %}

  </body>
</html>