---
layout: layouts/base.njk
title: EUROCONTROL Aviation Learning Centre Webinars
useDefaultHeader: false
hideBanner: true
permalink: "{{ page.filePathStem }}.html"
---
<div class="wb-slides-02-container">
  <h1>Our Next Webinar</h1>
  <img class="wb-logo" src="images/EUROCONTROL-logo-boxed-rgb.svg" alt="EUROCONTROL Logo">
  <article id="wbSlide2" class="wb-slide">
    <div class="wb-h2-container">
      <h2>Problem solving and procedures
              - how people handle unexpected situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very locted situations very long title very long 
      </h2>
    </div>

    <div class="wb-name-date-container">
      <time datetime="2022-12-25T15:00:00.000">25 Dec 2022 <span class="wbSlide1Time">- 15:00</span></time>
      <h3>Guy Andre boy very long name ry long name</h3>
    </div>

    <img class="wb-qr-code" src="images/qr.png" alt="QR code">

  </article>
</div>