---
layout: layouts/base.njk
title: EUROCONTROL Aviation Learning Centre Webinars
useDefaultHeader: false
hideBanner: true
---
<div class="wb-slides-01-container">
  <h1>Webinar</h1>
  <img class="wb-logo" src="images/EUROCONTROL-logo-boxed-rgb.svg" alt="EUROCONTROL Logo">
  <article id="wbSlide1" class="wb-slide">
    <div class="wb-slide-container">
      <div class="wb-webinar-list-container">
        <ul id="wbWebinarList">
          <li>
            <h2>
              <strong>Problem solving and procedures</strong>
            - how people handle unexpected situations very long title very long title very long title very long title very long title
          </h2>
            <h3>Guy Andre boy</h3>
            <time datetime="2022-12-25T15:00:00.000">25 Dec 2022 <span class="wbSlide1Time">- 15:00</span></time>
          </li>

          <li>
            <h2>
              <strong>Problem solving and procedures</strong>
            - how people handle unexpected situations
          </h2>
            <h3>Guy Andre boy very long name very long name very long name very long name very long name very long name very long name</h3>
            <time datetime="2022-12-25T15:00:00.000">25 Dec 2022 <span class="wbSlide1Time">- 15:00</span></time>
          </li>

          <li>
            <h2>
              <strong>Problem solving and procedures</strong>
              - how people handle unexpected situations
            </h2>
            <h3>Guy Andre boy</h3>
            <time datetime="2022-12-25T15:00:00.000">25 Dec 2022 <span class="wbSlide1Time">- 15:00</span></time>
          </li>

        </ul>
      </div>
      <a class="wb-link" href="https://learningzone.eurocontrol.int/">learningzone.eurocontrol.int</a>
    </div>
  </article>
</div>