---
layout: layouts/base.njk
title: EUROCONTROL Aviation Learning Centre Webinars
useDefaultHeader: false
hideBanner: true
---
<div class="wb-slides-01-container">
  <article id="wbSlide1" class="wb-slide">
    <h1>List</h1>
  </article>

  <article id="wbSlide2" class="wb-slide">
    <h1>Detail</h1>
  </article>
</div>