---
layout: layouts/base.njk
title: EUROCONTROL Aviation Learning Centre Webinars
useDefaultHeader: false
hideBanner: true
---
<div class="wb-slides-01-container">
  <article id="wbSlide1" class="wb-slide">
    <h1>Slide 1</h1>
  </article>

  <article id="wbSlide2" class="wb-slide">
    <h1>Slide 2</h1>
  </article>
</div>