:root {
  --wb-left-margin: 5.1%;
  --wb-logo-left: 84.4%;
  --wb-logo-width: 10.4%;
  --wb-qr-width: 20.1%;
  --wb-qr-height: 35.74%;
  --wb-qr-bottom: 96%;
  --wb-title-gap: 4%;
  --wb-page-bg-color: #f5f5f5;
}

html,
body {
  overflow: hidden;
  background-color: var(--wb-page-bg-color);
}

.wb-slides-01-container,
.wb-slides-02-container {
  position: relative;
  height: 100vh;
}

h1 {
  margin: 0;
  position: absolute;
  top: 4.6%;
  left: var(--wb-left-margin);
  z-index: 1000;
  /* text-transform: uppercase; */
  color: white;
  background-color: var(--ians-colour-light-blue);
  padding: 16px 8px;
  font-size: var(--step-4);
  font-weight: bold;
  line-height: 0.72;
  letter-spacing: 2px;
}

.wb-slides-01-container h1 {
  background-color: transparent;
  color: var(--ians-colour-dark-blue);
}

.wb-slides-01-container h1 > span {
  color: var(--ians-colour-light-blue);
}

.wb-logo {
  position: absolute;
  top: 0;
  left: var(--wb-logo-left);
  z-index: 1000;
  width: var(--wb-logo-width);
}

#wbSlide1,
#wbSlide2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transition: left 0.5s ease-in-out;
}

#wbSlide1 {
  /* background-color: var(--ians-colour-light-grey); */
  background-color: white;
  background-color: var(--wb-page-bg-color);
  left: 0;
}

#wbSlide2 {
  left: 0;
}

.wb-slide-container {
  position: relative;
  height: 100vh;
}

#wbSlide1 a.wb-link {
  width: 100%;
  font-size: var(--step-2);
  text-align: center;
  color: white;
  background-color: var(--ians-colour-light-blue);
  position: absolute;
  bottom: 0;
  font-weight: 500;
}

#wbSlide1 .wb-webinar-list-container {
  width: 100%;
  position: absolute;
  top: 23%;
  height: 68%;
  left: var(--wb-left-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wbSlide1 #wbWebinarList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: none;
  width: calc(
    (100% - var(--wb-left-margin)) -
      (100% - var(--wb-logo-left) - var(--wb-logo-width))
  );
  height: fit-content;
}

#wbSlide1 #wbWebinarList li {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-column-gap: 0px;
  position: relative;
  max-width: none;
  background-color: var(--ians-colour-light-grey);
  padding: 10px 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 2%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04);
}

#wbSlide1 #wbWebinarList li > div:nth-child(1) {
  position: relative;
}

#wbSlide1 #wbWebinarList li > div:nth-child(1) > img {
  height: 100%;
  object-fit: cover;
}

#wbSlide1 #wbWebinarList li > div:nth-child(1)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--ians-colour-light-blue);
  opacity: 0.4;
}

#wbSlide1 #wbWebinarList li > div:nth-child(2) {
  padding: 10px 20px;
  padding-left: 30px;
}

#wbSlide1 #wbWebinarList li h2,
#wbSlide2 h2 {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.1;
  color: var(--ians-colour-dark-blue);
  font-size: var(--step-2);
  word-break: keep-all;
  overflow: hidden;
  hyphens: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

#wbSlide1 #wbWebinarList li h3,
#wbSlide2 h3 {
  max-width: 70%;
  font-size: var(--step-0);
  line-height: 1;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
  margin-top: var(--step--2);
  color: var(--ians-colour-light-blue);
  word-break: keep-all;
  overflow: hidden;
  hyphens: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

#wbSlide1 #wbWebinarList li time,
#wbSlide2 time {
  padding: 0 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  background-color: var(--ians-colour-light-blue);
}

.wb-slides-02-container {
  background-image: url(images/webinars-bg.jpg);
  object-fit: cover;
}

#wbSlide2 img.wb-qr-code {
  position: absolute;
  right: var(--wb-left-margin);
  top: calc(var(--wb-qr-bottom) - var(--wb-qr-height));
  width: var(--wb-qr-width);
}

#wbSlide2 .wb-name-date-container {
  background-color: rgba(var(--ians-colour-light-blue-rgb), 0.7);
  width: fit-content;
  max-width: 66%;
  position: absolute;
  left: var(--wb-left-margin);
  top: calc(var(--wb-qr-bottom) - var(--wb-qr-height));
  padding: 1rem;
}

#wbSlide2 .wb-name-date-container h3,
#wbSlide2 .wb-name-date-container time {
  position: relative !important;
  background-color: transparent !important;
  color: white !important;
  max-width: 100% !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: var(--step-3) !important;
  line-height: 1 !important;
}

#wbSlide2 .wb-h2-container {
  position: absolute;
  left: var(--wb-left-margin);
  bottom: calc(
    100% - var(--wb-qr-bottom) + var(--wb-qr-height) + var(--wb-title-gap)
  );
  background-color: rgba(255, 255, 255, 0.7);
  width: calc(100% - var(--wb-left-margin) * 2);
  padding: 1rem;
  hyphens: none;
  /* transform: translateY(100%); */
}

#wbSlide2 h2 {
  -webkit-line-clamp: 5;
}
